
        hr {
            border-style: none;
            border-top-style: dotted;
            width: 5%;
            border-color: grey;
            border-width: 5px;

            
        }
        body{background-color:#C9EEFF}

    h1,h3{color: #66BFBF;}
    h1{font-family: cursive;}
    